<div class="jumbotron">
  <h2>Welcome to sample xmart_things demo</h2>
  <p class="lead">SmartThings Web Services SmartApps</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Authorize your SmartThings Account</h4>
    <a href="/auth/smartthings">Authorize now</a>
  </div>
</div>
